<!DOCTYPE html>
<html lang="en">

<body>

    <head>
        <meta charset="utf-8">
        <title>GOGO Juice Products</title>
        <link rel="stylesheet" href="../Admin/style_admin.css">
    </head>

    <body>
        <div>
            <header>
                <%- include ('../partials/header') %>
            </header>
        </div>
        <h1>Page administratreur / Admninistrator's page</h1>
        <div>
            <h3>Informations sur la vente / Informations on the sales</h3>
            <table style="width: 100%">
                <tr>
                    <th>Nombre de commandes / Number of deliveries</th>
                    <th>Par jour / Per day</th>
                    <th>Par mois / Per month</th>
                    <th>Par années / Per year</th>
                </tr>
                <tr>
                    <td></td>
                    <td>5</td>
                    <td>35</td>
                    <td>140</td>
                </tr>
                <tr>
                    <th>Nombre de clients enregistrés / Number of clients registered</th>
                    <th>Par jour / Per day</th>
                    <th>Par mois / Per month</th>
                    <th>Par années / Per year</th>
                </tr>
                <tr>
                    <td>200</td>
                    <td>3</td>
                    <td>21</td>
                    <td>84</td>
                </tr>
                <tr>
                    <th>Nombre de boissons vendues / Number of drinks sold</th>
                    <th>Par jour / Per day</th>
                    <th>Par mois / Per month</th>
                    <th>Par années / Per year</th>
                </tr>
                <tr>
                    <td>10128</td>
                    <td>60</td>
                    <td>240</td>
                    <td>2880</td>
                </tr>
                <tr>
                    <th>Nombre de visites au site / Number of visits on the website</th>
                    <th>Par jour / Per day</th>
                    <th>Par mois / Per month</th>
                    <th>Par années / Per year</th>
                </tr>
                <tr>
                    <td>254 123</td>
                    <td>2000</td>
                    <td>100 000</td>
                    <td>500 000</td>
                </tr>
                <tr>
                    <th>Produit le plus vendu / Product most sale</th>
                    <th>Aujourd'hui / Today</th>
                    <th>Ce mois / This month</th>
                    <th>Cette année / This year</th>
                </tr>
                <tr>
                    <td>Fanta Orange</td>
                    <td>Fanta Grape</td>
                    <td>Coca-cola</td>
                    <td>Fanta Orange</td>
                </tr>
                <tr>
                    <th>Moyenne de la valeur du panier du client / Client's cart average value</th>
                    <th>Aujourd'hui / Today</th>
                    <th>Ce mois / This month</th>
                    <th>Cette année / This year</th>
                </tr>
                <tr>
                    <td>5.39$</td>
                    <td>4.69$</td>
                    <td>15.49$</td>
                    <td>202.56$</td>
                </tr>
            </table>
        </div>
    </body>

</html>